VITE_SUPABASE_URL=https://uhmvxcveqiwpqkrvmmvl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVobXZ4Y3ZlcWl3cHFrcnZtbXZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1MzY5NDUsImV4cCI6MjA3MjExMjk0NX0.dKIP_N6b6B0eqM8zge8UdNyFcA9BjKHcgTiB-DtupiY